/* Login.css */
.login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 95vh;
    gap: 20px;
    /* margin: 5rem auto; */
    padding: 0 200px;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    /* background-color: #f9f9f9; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .login-form-container {
    flex: 1;
    /* padding-right: 2rem; */
    /* width: 40%; */
  }
  
  .login-header {
    /* text-align: center; */
    font-size: 35px;
    margin-bottom: 1.5rem;
    /* font-family: Arial, sans-serif; */
    color: #27ae60;
    
  }
  /* .login-header span{
    font-size: 55px;
    color: #27ae60;
    font-weight: 400;
  } */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .form-label {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    color: #555;
  }
  
  .form-input {
    /* padding: 0.8rem; */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .form-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  }
  
  .submit-button {
    background-color: #27ae60;
    color: #fff;
    padding:  0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: fit-content;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 0.8rem;
    border-radius: 4px;
    margin-top: 1rem;
  }
  
  .register-link {
    margin-top: 2rem;
    /* text-align: center; */
    font-size: 1rem;
    text-decoration: none;
}
.register-link span{
      color: #007bff;

  }
  
  .register-link span:hover {
    text-decoration: underline;
  }
  
  .login-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .login-image {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  