.employee-eods-container {
  padding: 20px;
  /* padding-top: 0; */
    width: 100%;
    margin: auto;
  }
  
  .eods-list {
    list-style: none;
    padding: 0;
  }
  
  .eod-item {
    /* padding-bottom: 15px; */
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f9f9f9;
  }
  .eod-title{
    background-color: #28a745;
    padding: 5px;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 4px;
  }
  
  .eod-details-button {
    background: #007bff;
    color: white;
    padding: 4px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .eod-details-button:hover {
    background: #0056b3;
  }
  
  .eod-update-section {
    margin-top: 20px;
  }
  
  .eod-update-button {
    background: #28a745;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .eod-update-button:hover {
    background: #218838;
  }
  
  .eod-modal-content textarea {
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .eod-modal-content select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
   
  .eod-status.pending {
    color: rgb(216, 216, 27);
  }
  
  .eod-status.reviewed {
    color: orange;
  }
  
  .eod-status.approved {
    color: green;
  }
  .eod-status.notapproved {
    color: red;
  }
  .filter-label{
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
  }
  